@import url("https://fonts.maateen.me/solaiman-lipi/font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SolaimanLipi", sans-serif;
}

body,
html {
  overflow: hidden;
  /* background-color: black; */
}

.timer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  gap: 20px;
  background: linear-gradient(#c8161c54, #00000086),
    url("https://i.ibb.co/hFnFdc8/Election-Cover-2.jpg");
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

.timer-wrapper h1 {
  font-size: 40px;
  color: #fff;
}

.timer-wrapper h2 {
  color: white;
}

.timer-wrapper .timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.timer-wrapper .time {
  font-size: 40px;
  padding: 20px;
  font-weight: 900;
  position: relative;
  padding-left: 15px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #d71c23;
  width: 120px;
  height: 120px;
}
.timer-wrapper .time span {
  font-size: 24px;
}
.timer-wrapper .time span.number {
  font-size: 45px;
}

.timer-wrapper .text-center {
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .timer-wrapper h1 {
    font-size: 35px;
  }
  .timer-wrapper h2 {
    font-size: 20px;
  }
  .timer-wrapper .time {
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 560px) {
  .timer-wrapper .timer {
    grid-template-columns: repeat(2, 1fr);
  }

  .timer-wrapper h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .timer-wrapper h2 {
    font-size: 18px;
  }
}
